<footer class="ooter bg-dark py-3 mt-auto">
	<div class="container center d-flex justify-content-center">
	<p class="fs-5 m-0"><span class='text-white'>Made with</span> ❤️ <span class='text-white'>&</span> ☕</p>
	</div>
</footer>
